html, body, p {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 0 );
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
.menu {
    max-width: 250px;
    width: 100%;
    border-right: 1px solid gray;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;

}
.menu .logo {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.menu .container ul {
    list-style: none;
}
.menu .container ul  li a {
    text-decoration: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
    font-size: 14px;
}
.menu .container ul  li a i {
    font-size: 28px;
}
.menu .foot ul {
    list-style: none;
}
.menu .foot ul li a {
    text-decoration: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
    font-size: 14px;
}
.menu .foot ul li a i {
    font-size: 28px;
}
main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 400px;
    display: flex;
}
main .main .top-info {
    border-bottom: 1px solid gray;
}
main .main .top-info ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
main .main .top-info ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}
main .main .story ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
main .main .story ul li a {
    text-decoration: none;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    justify-content: center;
    text-align:center;
}
main .main .story ul li a span {
    font-size: 10px;
    padding: 5px;
}
main .main .posts {
    color: aliceblue;
}

main .main .posts .post .content{
    max-width: 535px;
}
main .main .posts .post .content .info {
    display: flex;
    justify-content:space-between;
    color: aliceblue;
    font-size: 20px;
    margin: 20px 20px 0 20px;
    padding: 20px;
}
main .main .posts .post .content .info .user {
    display: flex;
    gap:10px;
    align-items: center;
}
main .main .posts .post .content .info .user a {
    text-decoration: none;
    color: aliceblue;
}
main .main .posts .post .content .info .user span {
    color: lightgray;
    font-size: 14px;
}
 main .main .posts .post .content .info  button {
    color: aliceblue;
    background-color:black;
    border: none;
} 
main .main .posts .post .content .share img {
    margin: 0 40px;
    border: 0.5px solid gray;
    width: 450px;
    height: 500px;
    object-fit: contain;
    
}
main .main .posts .post .content .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 30px;
    padding: 10px;
    color: aliceblue;
   
   
}
main .main .posts .post .content .buttons button {
    background-color: transparent;
    color: aliceblue;
    border: none;
    font-size: 18px;
   
}
main .main .posts .post .content .likes {
    margin: 0 40px;
    font-size: 14px;
    font-weight: bold;
}
main .main .posts .post .content .text {
    margin: 10px 40px;
    font-size: 14px;
    color: lightgray;
}
main .main .posts .post .content .text a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    margin-right: 5px;
}
main .right {
    width: 300px;
    margin-left: 150px;
}
main .right h1{
    font-size: 14px;
    display: flex;
    color: lightgray;
    justify-content: space-between;
    align-items: center;
    
}
main .right h1 span {
    font-size: 12px;
color: aliceblue;
}
main .right .users ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
main .right .users ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10px 0;
}
main .right .users ul li a {
    text-decoration:none ;
    color: aliceblue;
    font-size: 17px;
    display: flex;
    gap: 10px;
    align-items: center;
}
main .right .users ul li a i {
    font-size: 48px;
}

main .right .users ul li a span {
    color: lightgray;
    font-size: 14px;
}
main .right .users ul li button {
    background-color: transparent;
    color:rgb(0, 149, 246);
    border: none;
}

